.loader-container {
  padding: 10px;
  background-color: var(--white-color);
  display: inline-block;
  position: fixed;
  z-index: 999;
  top: 50%; /* Align the top edge of the element at the vertical center of the viewport */
  left: 50%; /* Align the left edge of the element at the horizontal center of the viewport */
  transform: translate(-50%, -50%);
  border-radius: 5px;

  &__loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--dark-grey-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 