.container {
  display: grid;
  grid-template-columns: repeat(1, calc(100%));
  gap: 30px;
  overflow-x: hidden;
  margin-bottom: 50px;
}

/* For tablets (min-width: 768px) */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

/* For desktops (min-width: 1024px) */
@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, calc(33.33% - 20px));
  }
}
