h1 {
  font-size: 40px;
}

.searchform {
  margin: 25px 0;

  button {
    border: 0;
    background-color: red;
    padding: 10px;
    color: white;
    font-size: 20px;

    img {
      fill: white;
      width: 20px;
      height: auto;
    }
  }

  input {
    border: 0;
    width: 75%;
    max-width: 500px;
    font-size: 20px;
    padding: 10px;
  }
}